<% @page_title = 'Home' %>
<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

<h1>Welcome to your Market store</h1>
<div style="margin-bottom:10px; color:green; font-style:italic; font-weight:bold;">
Please choose your favourite place to start shopping
</div>
<% @sellers.each do |seller| %>
<div id="manage-supermarkets">
<%= link_to image_tag(seller.url), :controller=>'store', :action=>'index',:seller_id=>seller %> 
</div>
<% end %>
