<%@page_title='services'%>
<div class="span12"  style="margin-top:20px;">
	<div class="span4">
		<div class="hero-unit" style="font-size:16px;padding:0px;">
			<p class="btn" style="width:255px;border-radius:0px;border:none;border-bottom:1px solid #ccc;">Software Development</p>
		</div>
	</div>
	<div class="span4">
		<div class="hero-unit"  style="font-size:16px;padding:0px;">
			<p class="btn" style="width:255px;border-radius:0px;border:none;border-bottom:1px solid #ccc;">Website Designing</p>
		</div>
	</div>
	<div class="span4">
		<div class="hero-unit"  style="font-size:16px;padding:0px;">
			<p class="btn" style="width:255px;border-radius:0px;border:none;border-bottom:1px solid #ccc;">Software & Hardware Maintainance</p>
		</div>
	</div>
</div>